<div class="card mb-4 " style="cursor: pointer;">
    <div class="card-img-wrapper">
        <!-- <img [src]="member().photoUrl" class="card-img-top" alt="{{ member().knownAs }}"> -->
        <img src="{{member().photoUrl || './assets/user.png'}}" class="card-img-top" alt="{{ member().knownAs }}">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/members/{{ member().userName }}" class="btn btn-primary"><i class="fa fa-user"></i></button>
            </li>
            <li class="list-inline-item">
                <button (click)="toggleLike()" class="btn btn-primary"><i class="fa fa-heart"></i></button>
            </li>
            <li class="list-inline-item">
                <button 
                routerLink="/members/{{member().userName}}"
                [queryParams]="{tab:'Message'}"
                class="btn btn-primary"><i class="fa fa-envelope"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body text-center  p-3">
        <h6 class="card-title mb-1">
            <span [class.is-online]="isOnline()">
                <i class="fa fa-user me-2"></i>
            </span>
            
            {{ member().knownAs }}, {{ member().age }}
            @if(hasLiked()){
                <i class="fa fa-heart me-2" style="color:red"></i>
            }
        </h6>
        <p class="card-text text-muted mt-2">{{ member().city }},{{member().city}}</p>
        <!-- <a [routerLink]="['/members', member.username]" class="btn btn-primary">View Profile</a> -->
    </div>
</div>