<!------------------------------->
<!-- #region  Section 1 to 10 -->
 <!------------------------------>
<!-- <form #registerForm="ngForm" (ngSubmit)="regsiter()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name = "username" [(ngModel)]="model.username" placeholder="Username">
        <label>User Name</label>
    </div> -->
    <!-- <div class="mb-3">
        <label for="">who is your favourit user?</label>
        <select class="form-select">
            @for(user of userFromHomeComponent(); track $index)
            {
                <option [value]="user.userName">{{user.userName}}</option>
            }
        </select>
    </div> -->
    <!-- <div class="mb-3 form-floating">
        <input type="text" class="form-control" name = "password" [(ngModel)]="model.password" placeholder="Password" type="password">
        <label>User Password</label>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form> -->
<!-- #endregion -->



<!------------------------------->
<!-- #region  Section 11 to 20 -->
 <!------------------------------>

 <!-- #region V1 -->
<!-- <form [formGroup]="registerForm" (ngSubmit)="regsiter()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input 
            [class.is-invalid]="registerForm.get('userName')?.errors && registerForm.get('userName')?.touched"
            type="text" 
            class="form-control" 
            formControlName="userName"
            placeholder="Username">
        <label>User Name</label>
        <div class="invalid-feedback text-start">Please enter the UserName</div>
    </div>
    <div class="mb-3 form-floating">
        <input 
            [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
            type="text" 
            class="form-control" 
            formControlName="password" 
            placeholder="Password" 
            type="password">
        <label>User Password</label>
        <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback text-start">Please enter the User Password</div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="invalid-feedback text-start">Password must be atlest 4 charactoer</div>
        <div *ngIf="registerForm.get('password')?.hasError('maxlength')" class="invalid-feedback text-start">Password must be at most 8 charactoer</div>
    </div>
    <div class="mb-3 form-floating">
        <input 
            [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
            type="text"
            class="form-control"
            formControlName="confirmPassword" placeholder="Confirm Password" type="password">
        <label>Confirm Password</label>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback text-start">Please enter the User Confirm Password</div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback text-start">ConfirmPassword must match with Password</div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form Value : {{registerForm.value | json }}</p>
<p>Form Value : {{registerForm.status |  json }}</p> -->
 <!-- #endregion -->

 <!-- #region V1 -->
<form [formGroup]="registerForm" (ngSubmit)="regsiter()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>


    <hr>
    <app-text-input 
        [formControl]="$any(registerForm.controls['userName'])" 
        [label]="'User Name'" 
        ></app-text-input>

    <app-text-input 
        [formControl]="$any(registerForm.controls['password'])" 
        [label]="'Password'" 
        [type]="'password'"
        ></app-text-input>

    <app-text-input 
        [formControl]="$any(registerForm.controls['confirmPassword'])"
        [label]="'Confirm Password'" 
        [type]="'password'"
        ></app-text-input>

    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form Value : {{registerForm.value | json }}</p>
<p>Form Value : {{registerForm.status |  json }}</p>
 <!-- #endregion -->

<!-- #endregion -->

