<div class="modal-header">
	<h4 class="modal-title">{{title}}</h4>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
	<ul>
		@for(role of availableRoles; track $index)
		{
			<div class="form-check">
				<input
					type="checkbox"
					class="form-check-input"
					[id]="'role-' + role"
					[checked] = "selectedRoles.includes(role)"
					value = "role"
					(change)="updateChecked(role)"
					[disabled]="role==='Admin' && username==='admin'"
					/>
					<label
						class="form-check-label"
						[for]="'role-' + role"
					>
						{{ role }}
					</label>
			</div>
		}
	</ul>
</div>
<div class="modal-footer">
	<button 
		[disabled]="selectedRoles.length===0"
		type="button" 
		class="btn btn-success" 
		(click)="onSelectRoles()">Submit</button>
	<!-- <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button> -->
</div>