<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dating App</a>
            <!--=================-->
            <!-- we do not use Structural directive in our code  (*ngIf) very old-->
            <!--=================-->
            @if(loggedIn)
            {
            <ul class="navbar-nav me-auto mb-2 mb-md-0" >
                <li class="nav-item"> 
                    <a class="nav-link active" >Matches</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" >list</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" >Messages</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
            }

            @if(loggedIn){
                <!-- help: https://ej2.syncfusion.com/angular/documentation/drop-down-list/getting-started/#adding-dropdownlist-component -->
                
                <div class="drodpwon">
                    <a class="dropdown-toggle text-light">Welcome user</a>
                    <div class="dropdown-menu">
                        <a class="dropdown">Edit profile</a>
                        <a class="dropdown" (click)="logout()">Logout</a>
                    </div>
                </div>
            }

            @if(!loggedIn)
            {
                <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" role="search" autocomplete="off">
                    <input class="form-control me-2" placeholder="UserName" name="username" [(ngModel)]="model.username"/> 
                    <input class="form-control me-2" placeholder="Password" type="password" name="password" [(ngModel)]="model.password" />
                    <button class="btn btn-outline-success" type="submit">Login </button>
                </form>
            }
            
            
        </div>
    </nav>
</header>